* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.top-bar {
    background-color: #eeeeee;
    color: #6a666a;
    width: 100%;

}

.top-bar-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-child div {
    padding: 7px;
    font-size: 13px;
}

.social-details span {
    margin: 10px;
}

.language {
    background-color: #ffff;
    width: fit-content;
    height: fit-content;

}

.logo {
    width: 220px;
    cursor: pointer;
}

.navbar {
    box-shadow: 1px 1px 4px lightgray;
    background-color: #ffff;
}

.navbar ul li a {
    color: #636363;
    font-size: 16px;
    font-weight: 500;
    margin: 2px;

}

.active-nav {
    color: #0d6db7 !important;
}

.overseas-nav-active {
    color: #8dc63f !important;
}

.nav-btn-container {
    display: flex;
}

.donate-btn {
    background-color: #0d6db7;
    color: #ffff;
    padding: 11px;
    margin: 5px;
    border: none;
    border-radius: 5px;

}

.sponsor-btn {
    background-color: #8dc63f;
    color: #ffff;
    padding: 11px;
    margin: 5px;
    border: none;
    border-radius: 5px;

}

.hero-container {
    display: flex;
    /* background-color: #d9d9d9; */
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-container img {
    width: 500px;
}

.hero-container h2 {
    /* font-weight: 700; */
    font-size: 42px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.hero-container h2 span {
    color: #8dc63f;
}

.hero-container h3 {
    color: rgba(0, 0, 0, 0.8);

    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hero-container h3 span {
    color: #0d6db7;
}

.hero-container p {
    color: #636363;
    width: 90%;
    font-size: 18px;

}

.hero-container button {
    background: none;
    width: 190px;
    height: 50px;
    color: #575656;
    /* padding: 15px 35px; */
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid gray;
}

.main-donate-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    background-color: #f0fcda;
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
}

.input-container {
    width: 28%;
}

.main-donate-container button {
    border: none;
    background-color: #ffff;
    padding: 15px;
    border-radius: 10px;
}

.option-conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    /* justify-content: space-evenly; */
}

.quick-donate-btn {
    background-color: #8dc63f !important;
    color: #ffff !important;
}

.input-container .input-group .input-group-text {
    background-color: #575656;
    color: #ffff;
    padding: 15px;
}

.input-container .input-group input {
    background-color: #575656;
    color: #ffff;
}

.input-container .input-group input::placeholder {
    color: #ffff;
}












@media screen and (max-width : 991px) {
    .logo {
        width: 190px;
    }

    .donate-btn,
    .sponsor-btn {
        width: 100%;
        margin: 5px 0px;
    }

    .nav-btn-container {
        flex-direction: column;
    }

    .top-bar-child {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .language {
        border: 1px solid #d9d9d9;

    }

    .hero-container img {
        width: 280px;
    }

    .hero-container h2 {
        font-size: 38px;
    }

    .hero-container h2 span {
        color: #8dc63f;
    }

    .hero-container h3 {
        font-size: 22px;
    }


    .hero-container p {
        font-size: 16px;

    }

    .main-donate-container {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
    }

    .option-conatiner {
        width: 100%;
    }

}

@media screen and (max-width : 770px) {
    .hero-container img {
        width: 230px;
    }

    .hero-container h2 {
        font-size: 30px;
    }

    .hero-container h2 span {
        color: #8dc63f;
    }

    .hero-container h3 {
        font-size: 18px;
    }


    .hero-container p {
        font-size: 12px;
    }

    .hero-container button {
        width: 150px;
        height: 40px;
    }
}

@media screen and (max-width : 570px) {
    .hero-container img {
        display: none;
    }

    .hero-container h2 {
        font-size: 28px;
    }

    .hero-container h2 span {
        color: #8dc63f;
    }

    .hero-container h3 {
        font-size: 16px;
    }


    .hero-container p {
        width: 100%;
        font-size: 11px;
    }

}

@media screen and (max-width : 375px) {

    .social-details span {
        display: block;
        margin: 5px;
    }

    .top-bar-child div {
        padding: 4px;
    }

    .hero-container img {
        display: none;
    }
}